In [1]:
import pandas as pd

In [6]:
score_df = pd.DataFrame([[1,56,66,70], [2,90,45,34], [3,45,32,55], [4,70,77,89], [5,56,80,70], [6,60,54,55], [7,45,70,79], [8,34,77,76], [9,25,87,60], [10,88,40,43]],columns=['student_id','math_score','english_score','chinese_score'])
score_df = score_df.set_index('student_id')
score_df

            math_score  english_score  chinese_score
student_id
1                   56             66             70
2                   90             45             34
3                   45             32             55
4                   70             77             89
5                   56             80             70
6                   60             54             55
7                   45             70             79
8                   34             77             76
9                   25             87             60
10                  88             40             43

In [15]:
#a
df = pd.DataFrame(score_df.mean(axis = 1), columns=['student_mean'])
df

            student_mean
student_id
1              64.000000
2              56.333333
3              44.000000
4              78.666667
5              68.666667
6              56.333333
7              64.666667
8              62.333333
9              57.333333
10             57.000000

In [37]:
#c
score_df.apply(lambda x : x**(0.5)*10).mean(axis = 1)

student_id
1     79.913178
2     73.419963
3     65.937522
4     88.585153
5     82.647290
6     75.035448
7     79.876662
8     77.745714
9     73.577819
10    74.209418
dtype: float64

In [38]:
#d
score_df.apply(lambda x : x**(0.5)*10).mean()

math_score       74.194221
english_score    78.350301
chinese_score    78.739928
dtype: float64