In [2]:
import pandas as pd

In [3]:
q_df = pd.DataFrame([['male', 'teacher'], ['male', 'engineer'], ['female', None], ['female', 'engineer']],columns=['Sex','Profession'])
q_df

      Sex Profession
0    male    teacher
1    male   engineer
2  female       None
3  female   engineer

In [4]:
q_df.fillna("others")

      Sex Profession
0    male    teacher
1    male   engineer
2  female     others
3  female   engineer